#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.users {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 70px;
  font-size: 20px;

  background-color: #000;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: -2px -1px 5px rgb(65, 65, 102);
  transition: all .3s;

  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {scale: .9}
  100% {scale: 1.0}
}

.users:hover {
  background-color: rgb(43, 41, 41);
  filter: brightness(1.8);
  box-shadow: -2px -1px 5px rgb(43, 41, 41);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
